    /* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Common CSS @@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

    * {
        box-sizing: border-box;
    }

    :root {
        --lightblue: #E5F3FE;
        --lighterblue: #F0F6FB;
        --darkblue: #325683;
        --lightorange: #FFECE6;
        --lighterorange: #fff6f3;
        --white: #ffffff;
        --black: #606060;
        --companyblue: #9BB8D3;
        --cream: #F7F3F0;
        --oragne: #FFB898;
    }

    .bg-cream {
        background-color: var(--cream);
    }

    .bg-lighterorange {
        background-color: var(--lighterorange);
    }

    .bg-lightorange {
        background-color: var(--lightorange);
    }

    .bg-orange {
        background-color: var(--oragne);
    }

    .bg-lighterblue {
        background-color: var(--lighterblue);
    }

    .bg-lightblue {
        background-color: var(--lightblue);
    }

    .bg-white {
        background-color: var(--white);
    }

    .bg-lightgrey {
        background-color: #FAFAFA;
    }

    .bg-lightgreyblue {
        background-color: var(--lighterblue);
    }


    .mt2021 {
        font-size: 14px;
    }

    a.textblack {
        color: var(--black);
    }

    a.textblack:hover {
        color: var(--black);
    }

    html,
    .mt2021,
    .mt2021 h1,
    .mt2021 h2,
    .mt2021 h3,
    .mt2021 h4,
    .mt2021 h5,
    .mt2021 h6,
    .mt2021 p {
        padding: 0;
        color: var(--black);
    }

    .p-wrapper {
        max-width: 900px;
        margin: auto;
    }
    .mt2021 .text-white {
        color: white;
    }
    .mt2021 h1,
    .mt2021 p {
        letter-spacing: 0.05em;
    }

    .mt2021 .btn {
        font-size: 17px;
        line-height: 24px;
        font-weight: normal;
        border-radius: 5px;
        /* height: 40px; */
        padding: 10px;
        display: inline-block;
        margin: auto;
        min-width: 217px;
    }

    .btn-blue {
        color: var(--white) !important;
        background-color: var(--companyblue);
        transition: background-color 2s;
    }

    .btn-blue:hover {
        color: var(--white);
        background-color: var(--black);

    }

    .columns a.btn-blue-outline {
        min-width: 120px;
        margin-right: 10px;
        margin-bottom: 10px;
        color: var(--companyblue);
        border: 2px solid var(--companyblue);
        transition: all 1s;
    }

    .columns a.btn-blue-outline:hover {
        color: var(--white);
        background-color: var(--black);
        border-color: transparent;
    }

    .columns a.btn-blue-outline.active {
        color: var(--white);
        background-color: var(--companyblue);
    }

    .studs-nav .btn {
        display: inline-block;
    }

    .large-btn {
        width: 347px;
    }

    .mt2021 .small-btn {
        width: 217px;
    }

    .box {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .top8 {
        padding-top: 8%;
    }

    .mt2021 .row {
        display: flex;
    }

    .diamond-image img {
        width: 500px;
    }

    .columns a {
        color: var(--black);
    }

    .flex-wrap {
        flex-wrap: wrap;
    }

    .overflow-hidden {
        overflow: hidden;
    }

    .desktop-show {
        display: block;
    }

    .mobile-show {
        display: none;
    }

    .d-flex {
        display: flex;
    }

    .banner-height-500 {
        height: 500px;
    }

    .banner-height-400 {
        height: 400px;
    }

    .max-width-600 {
        max-width: 600px;
    }

    .d-sm-flex {
        display: flex;
    }

    .w-sm-50 {
        width: 50%;
    }

    .w-80 {
        width: 80%;
    }

    .pb-sm-5 {
        padding-bottom: 3rem !important;
    }

    .pb-xs-5 {
        padding-bottom: 0 !important;
    }

    .py-xs-5 {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .for-title {
        text-transform: uppercase;
        font-weight: 500;
        text-align: center;
    }

    .perfect-fit .diamond-image-bg {
        height: 400px;
        background-image: url(https://www.michaeltrio.com/pub/media/0newengagementpage/MT2-Engagement-Landing-P5_Kiss.png);
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
    }

    .custom-earrings-bg,
    .custom-pendant-bg {
        background-color: var(--lighterblue);
    }

    .perfect-fit-bg {
        background: linear-gradient(270.2deg, #F5F5F5 -1.17%, #C4C4C4 -1.16%, rgba(205, 205, 205, 0) 102.86%);
    }

    /* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Owl Carousel @@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
    .mt2021 .owl-item .item a:hover {
        color: var(--black);
    }

    .mt2021 .owl-carousel .owl-item {
        display: flex;
        align-items: center;
        justify-content: center;
        /* height: auto; */
    }


    .mt2021 .owl-carousel .owl-item img {
        width: 100px;
        transition: all 1s;
    }


    .mt2021 .owl-carousel .owl-item.center img {
        width: 200px;
        margin: auto;
    }

    .mt2021 .owl-carousel .owl-item.center {
        margin: 0px 20px;
    }

    .mt2021 .owl-item article>a {
        display: none;
        font-weight: 500;
        text-transform: uppercase;
    }

    .mt2021 .owl-item.center article>a {
        margin-top: 10px;
        display: block;
    }

    .mt2021 .owl-carousel .owl-nav .owl-prev,
    .mt2021 .owl-carousel .owl-nav .owl-next {
        top: auto;
        bottom: -40px;
    }

    .mt2021 .owl-carousel .owl-nav [class*='owl-']:before {
        font-size: 40px;
    }

    .mt2021 .owl-carousel .owl-item a img:hover {
        filter: contrast(130%);
    }

    #diamonds-slider.owl-carousel .owl-item {
        height: 250px;
    }

    #top-selling-slider.owl-carousel .owl-item {
        align-items: flex-start;
    }


    @media (max-width: 1199.98px) {

        .diamond-image img {
            width: 320px;
        }

        .spinning-diamond {
            width: 380px;
            height: 380px;
        }

        .diamond-quality,
        .diamond-price {
            font-size: 12px;
        }

    }


    @media (max-width: 767.98px) {

        .py-xs-5 {
            padding-top: 3rem;
            padding-bottom: 3rem;
        }

        .d-sm-flex {
            display: block;
        }

        .w-sm-50 {
            width: 100%;
        }

        .mx-xs-3 {
            margin: auto 15px !important;
        }

        .m-xs-auto {
            margin: auto !important;
        }

        .pt-xs-3 {
            padding-top: 1rem !important;
        }

        .spacing-xs-t {
            padding-top: 20px !important;
        }

        .spacing-xs-b {
            padding-bottom: 20px !important;
        }

        .pb-sm-5 {
            padding-bottom: 0 !important;
        }

        .pb-xs-5 {
            padding-bottom: 3rem !important;
        }

        .py-xs-5 {
            padding-top: 3rem !important;
            padding-bottom: 3rem !important;
        }

        .col-sm-12 {
            padding-left: 13px;
            padding-right: 13px;
        }

        .mt2021 .btn {
            font-size: 14px;
            line-height: 22px;

        }

        .my-4 {
            margin-top: 1.2rem !important;
        }

        .mt2021 .row {
            display: block;
        }

        .diamond-image img {
            width: 320px;
        }

        .perfect-fit-bg {
            background: linear-gradient(175.67deg, #F5F5F5 -9.43%, #C4C4C4 -9.42%, rgba(205, 205, 205, 0) 95.82%);
        }


    }


    @media (max-width: 480px) {


        .mt2021 .btn {
            font-size: 14px;
            line-height: 15px;
            /* height: 30px; */
        }

        .large-btn {
            width: 217px;
        }

        .diamond-image img {
            width: 80%;
        }

        #diamonds-slider.owl-carousel .owl-item {
            height: 200px;
        }

        .mt2021 .owl-carousel .owl-item img {
            width: 70px;
            transition: unset;
        }

        .mt2021 .owl-carousel .owl-item.center img {
            width: 150px;
        }

        .mt2021 .owl-carousel .owl-item.center {
            margin: 0px 20px;
        }

        .spinning-diamond {
            width: 295px;
            height: 295px;
        }

        .diamond-thumbnail .diamond-size {
            font-size: 11px;
        }

        .diamond-quality,
        .diamond-price {
            font-size: 12px;
        }

        .desktop-show {
            display: none;
        }

        .mobile-show {
            display: block;
        }

    }
