  /* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Fonts @@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
  .font-weight-bold {
    font-weight: 700;
}

.font-weight-normal {
    font-weight: 400;
}

.font-weight-light {
    font-weight: 300;
}

.mt2021 h1,
.mt2021 h2,
.mt2021 h4 {
    font-family: 'Times New Roman';
}

.mt2021 h3,
.mt2021 h5,
.mt2021 h6,
.mt2021 p,
.mt2021 .h7,
.mt2021 .h8,
.mt2021 .h9,
.mt2021 .h10,
.mt2021 .h11,
.mt2021 .h12 {
    font-family: 'Montserrat';
}

.mt2021 h1 {
    font-size: 36px;
}

.mt2021 h2 {
    font-size: 32px;
}

.mt2021 h3 {
    font-size: 32px;
}

.mt2021 h4 {
    font-size: 25px;
}

.mt2021 h5 {
    font-size: 22px;
}

.mt2021 h6 {
    font-size: 17px;
}

.mt2021 p {
    font-size: 17px;
}

.mt2021 .h7 {
    font-size: 18px;
}

.mt2021 .h8 {
    font-size: 16px;
}

.mt2021 .h9 {
    font-size: 14px;
}

.mt2021 .h10 {
    font-size: 13px;
}

.mt2021 .h11 {
    font-size: 12px;
}

.mt2021 .h12 {
    font-size: 11px;
}

@media (max-width:767.98px) {
    .mt2021 h1 {
        font-size: 30px;
    }

    .mt2021 h2 {
        font-size: 25px;
    }

    .mt2021 h3 {
        font-size: 25px;
    }

    .mt2021 h4 {
        font-size: 22px;
    }

    .mt2021 h5 {
        font-size: 18px;
    }

    .mt2021 h6 {
        font-size: 17px;
    }

    .mt2021 p {
        font-size: 17px;
    }

    .mt2021 .h7 {
        font-size: 16px;
    }

    .mt2021 .h8 {
        font-size: 15px;
    }

}

@media (max-width:480px) {
    .mt2021 h1 {
        font-size: 25px;
    }

    .mt2021 h2 {
        font-size: 20px;
    }

    .mt2021 h3 {
        font-size: 20px;
    }

    .mt2021 h4 {
        font-size: 18px;
    }

    .mt2021 h5 {
        font-size: 17px;
    }

    .mt2021 h6 {
        font-size: 14px;
    }

    .mt2021 p {
        font-size: 14px;
    }

    .mt2021 .h7 {
        font-size: 15px;
    }

    .mt2021 .h8 {
        font-size: 14px;
    }

}
